language: python
python:
- "3.6"
sudo: required
dist: trusty

addons:
  hosts:
  - local.healthpolicy.duke.edu

services:
- docker

git:
  depth: 5

cache:
  directories:
  - $TRAVIS_BUILD_DIR/.docker/db/import
  - $HOME/.composer/cache/files

before_install:
  - export PATH=$PATH:$HOME/.local/bin
  - sudo chown -R 1000:1000 $TRAVIS_BUILD_DIR/web
  - sudo apt-get install pv

install:
  - cd $TRAVIS_BUILD_DIR
  - make travis-install
  - docker-compose ps

script:
  - make phpcs

after_failure:
  - docker-compose logs
  - docker exec duke_margolis_php drush ws --count=100 --format=yaml
